.git/
.idea/
.vscode/
.DS_Store
*.log

api/release/
api/**/target/
api/**/logs/

web/node_modules/
web/.next/
web/out/
web/dist/

tests/node_modules/
test-results/
playwright-report/

.test/build/
.test/unit-test-report/
